@import "variables";

footer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacing $spacing * 2;
  box-sizing: border-box;
  width: 100vw;
  bottom: 0;
  height: $footer-height;
  background-color: $primary-background;
  user-select: none;
  overflow: hidden;

  @media screen and (max-width: $break-small) {
    top: 0;
    bottom: unset;
    overflow: visible;
  }

  .game-score {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1.5em;
    font-weight: 600;

    .score-text {
      @media screen and (max-width: $break-small) {
        display: none;
      }
    }
  }

  .game-slider {
    position: relative;
    display: flex;
    align-items: center;

    @media screen and (max-width: $break-small) {
      position: absolute;
      top: 64px;
    }

    .slider-bar {
      display: inline-block;
      margin-right: 10px;
      width: #{$slider-bar-width}px;
      height: 3px;
      border-radius: 1px;
      background-color: $secondary-background;

      @media screen and (max-width: $break-large) {
        margin-right: 0px;
      }

      @media screen and (max-width: $break-small) {
        margin-right: $spacing;
        width: calc(100vw - 150px - #{$spacing * 5});
      }
    }

    .slider-handle {
      position: absolute;
      left: #{$slider-text-width + $slider-bar-width * .5}px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: grab;

      @media screen and (max-width: $break-small) {
        left: 50%;
      }

      .slider-ball {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 20px;
        height: 20px;
        background-color: $primary-color;
        border-radius: 50%;

        transition: width $slider-ball-animation ease-out,
                    height $slider-ball-animation ease-out,
                    top $slider-ball-animation ease-out,
                    left $slider-ball-animation ease-out;
      }

      .slider-ball.pressed {
        top: 7.5px;
        left: 7.5px;
        width: 25px;
        height: 25px;
        cursor: grabbing;
      }
    }

    .slider-speed-text {
      display: inline-block;
      margin-right: 20px;
      min-width: #{$slider-text-width}px;
    }

    .slider-speed {
      display: inline-block;
      min-width: 50px;
      text-align: right;

      @media screen and (max-width: $break-large) {
        visibility: hidden;
        width: 0px;
        min-width: 0px;
      }

      @media screen and (max-width: $break-small) {
        visibility: visible;
        width: unset;
        min-width: 50px;
      }
    }
  }

  .game-toggle {
    position: absolute;
    width: calc(100vw - 64px);

    @media screen and (max-width: $break-small) {
      right: 32px;
      width: unset;
    }

    .pause-button {
      display: flex;
      position: relative;
      border: none;
      outline: none;
      border-radius: 10px;
      padding: 1rem 2rem;
      margin: 0 auto;
      background: $secondary-background;
      color: #ffffff;
      font-size: 1rem;
      font-family: 'Press Start 2P', sans-serif;
      cursor: pointer;
      text-align: center;
    }
  }
}
