@import "variables";

body {
  margin: 0;
  color: $primary-color;
  box-sizing: border-box;
  background-color: $primary-background;
  font-family: 'Press Start 2P', cursive;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primary-color;
  font-size: 16px;

  height: $header-height;
  text-align: center;
  padding: $spacing;
  box-sizing: border-box;

  span.game-title {
    font-size: 40px;

    @media screen and (max-width: $break-small) {
      display: none;
    }
  }
}
