$primary-color: #27B917;
$primary-background: #A917B9;
$secondary-color: #B91727;
$secondary-background:#1778B9;

$spacing: 16px;
$header-height: 80px;
$footer-height: 80px;

$slider-text-width: 80;
$slider-bar-width: 180;

$break-small: 768px;
$break-large: 1024px;

$slider-ball-animation: 0.1s;
